# Ignore virtual environment
.venv/
env/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Streamlit logs and settings
.streamlit/

# Ignore build and dist folders from PyInstaller
build/
dist/
*.spec

# Ignore environment files
*.env
*.DS_Store
